* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



:root {
    --primary-color: #164E63;
    --secondry-color: #22D3EE;
    --secondary-color-dark: #06B6D4;
    --white-color: #fff;
    --black-color: #000;
    --gray-icons-color: #9CA3AF;
    --primary-color-light: #0E7490;
    --gray-seconday-color: #F3F4F6;
    --gray-tertiary-color: #454D59;
}

.allsection {
    /* display: none; */
}

header {
    /* max-width: 100%; */
    min-width: 100%;
    width: 1326px;
}

.headerform {
    box-shadow: #000;
    background-color: var(--primary-color);
    display: flex;
    /* min-width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 3rem;
    color: var(--white-color);
    font-weight: 600;
    font-size: 0.9rem;
}

.logo {
    display: flex;
    gap: 0.7rem;
}

.header-sign span {
    padding-inline: 1.2rem;
}

.header-sign span:nth-child(1) {
    border-right: 1px solid var(--gray-icons-color);
}

.header-delivery-text {
    padding-left: 2.5rem;
}

.nav {
    height: 6vh;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.2rem;
}

.nav-menu img {
    width: 1.55rem;
    cursor: pointer;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    gap: 2.4vw;
}

.nav ul li {
    list-style: none;
    color: var(--black-color);
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1.55vw 0;
    /* padding-inline: 1rem; */
    transition: .1s ease;
    cursor: pointer;
    color: var(--gray-tertiary-color);
}

.li-border-bottom {
    border-bottom: 2px solid var(--secondry-color);
}

.nav-icons {
    display: flex;
    width: 15vw;
    align-items: center;
    justify-content: space-around;
}

.nav-icons svg {
    width: 1.55rem;
    cursor: pointer;
}


.nav-icons svg:nth-child(1) {
    color: var(--gray-icons-color);
}

.nav-icons svg:nth-child(1):hover {
    color: var(--gray-tertiary-color);
}

.nav-icons svg:nth-child(2) {
    color: var(--primary-color);
}

.nav-icons div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
}

.nav-icons .cart-div svg {
    color: var(--primary-color);
    cursor: pointer;
}

.nav-icons div span {
    color: var(--primary-color-light);
    font-weight: 100;
    font-size: 0.9rem;
    cursor: pointer;
}

.header-hr {
    color: var(--gray-seconday-color);
    width: 90%;
    margin: auto;
    opacity: 0.2;
}

.shopping-bag {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.shopping-bag.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 100;
    background-color: rgb(141 146 158 / 65%);
}


.overlay-bag {
    position: absolute;
    top: 0;
    right: -100%;
    /* height: 68vh; */
    width: 33vw;
    transition: 1s ease-in-out;
    bottom: 0;
    overflow-y: auto;
    padding: 2vw 2.2vw 2vw 2vw;
    /* padding-bottom: 6vw; */
    background-color: var(--white-color);
}

.overlay-bag:last-child {
    border-bottom: none;
}

.itemsbags {
    height: 70vh;
    overflow: auto;
    position: absolute;
    padding-top: 5vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    top: 0;
    right: 0;
    /* display: none; */
}

.itemsbags .addedProductDetails:last-child{
    border-bottom: none;
}

.itemsbags::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #F1F5F9;
}

.itemsbags::-webkit-scrollbar-thumb {
    background-color: var(--secondry-color);
}

.noitembag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.noitembag h2 {
    font-weight: 400;
    color: #6B7290;
}


.overlay-bag .heading-exit-bag {
    display: flex;
    position: relative;
    z-index: 1;
    /* padding: 1rem; */
    align-items: center;
    justify-content: space-between;
}

.heading-exit-bag {
    padding-bottom: 1.1rem;
    position: relative;
    z-index: 3;
}

.heading-exit-bag h4 {
    font-size: 1.1rem;
    font-weight: 400;
}

.heading-exit-bag svg {
    width: 1.5rem;
    color: var(--gray-icons-color);
}
.heading-exit-bag svg:hover {
    color: #111827;
}



.overlay-bag img {
    width: 6.8vw;
    height: 6.6vw;
    border: 1px solid #E5E7EB;
    position: relative;
    z-index: 1;
    border-radius: .3rem;
    overflow-y: auto;
}


.addedProductDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 8vw;
    padding: 4rem 0;
    position: relative;
    background-color: white;
    width: 104%;
    z-index: 2;
    border-bottom: 1px solid #E5E7EB;
}

.model-title {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    width: 20vw;
    justify-content: space-between;
}

.model_content {
    width: 100%;
}

.model_content,
.model_remove_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model_remove_price span {
    color: var(--secondry-color);
    align-self: flex-end;
}

.model-title span {
    font-size: 1vw;
}

.model-title .model_content span {
    color: #111827;
}

.modeltext {
    padding: .5rem 0;
}

.model-title .modeltext span {
    color: var(--gray-icons-color);
}

.quantity {
    position: relative;
    /* background-color: red; */
    z-index: 100; /* Add this */
}

.show-text {
    border: 1px solid #E5E7EB;
    box-shadow: 0 1px #E5E7EB;
    border-radius: .4vw;
    padding: .5vw .9vw;
    width: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-text span {
    color: black;
}

.innertext {
    position: absolute;
    top: 2.8vw;
    left: 0;
    max-height: 12vw;
    height: 12vw;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 1px #E5E7EB;
    border: 1px solid #E5E7EB;
    width: 7vw;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 9999;
}

.innertext::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #F1F5F9;
}

.innertext::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.innertext span {
    text-align: center;
    padding: .6rem .8rem;
    color: #111827;
    display: block;
    /* background-color: red; */
}

.innertext span:hover {
    background-color: var(--secondry-color);
    color: white;
}

.innertext span:hover i {
    color: #000;
}

.innertext span i {
    color: var(--secondry-color);
    font-size: 1.3vw;
    position: absolute;
    left: 0.55rem;
}

.show-text i {
    font-size: .8vw;
    color: var(--gray-icons-color);
}

.checkout-bag {
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: 1s ease-in-out;
    width:100% ;
    padding: 1.5rem 1.5rem;
    z-index: 12;
    background-color: white;
    border-top: 1px solid #E5E7EB;
    display: grid;
}

.totalprice {
    display: flex;
    justify-content: space-between;
    padding-bottom: .2rem;
}

.totalprice span {
    font-weight: 600;
    color: #111827;
}

.checkout-bag p:nth-child(2) {
    font-size: 0.9rem;
    color: #6B7280;
}

.checkout-bag button {
    padding: .9rem;
    border: none;
    border-radius: .4vw;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--secondry-color);
    margin: 1.7rem 0 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.checkout-bag button:hover {
    background-color: var(--secondary-color-dark);
}

.checkout-bag p:nth-child(4) {
    text-align: center;
    font-size: .9rem;
    cursor: pointer;
}

.checkout-bag p:nth-child(4) span {
    color: var(--secondry-color);
    font-weight: 700;
}

.checkout-bag p:nth-child(4) span:hover {
    font-weight: 500;
}

/* component Section Start */
.components {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 100%;
    padding: 4.8vw;
    margin: auto;
    position: absolute;
    z-index: 10;
    gap: 35px;
    box-shadow: 0 1px 1px rgba(211, 211, 211, 0.8);
    display: none;
    transition: 2s ease;
}

.component-items {
    width: 100%;
}

.component-items div:nth-child(1) {
    width: 100%;
    height: 20vw;
    background-color: #F7EEFC;
    border-radius: .5vw;
}

.component-items img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: .5vw;
    position: relative;
}

.component-items img:hover {
    opacity: .7;
}

.component-content {
    padding: 1.4vw 0 0;
}

.component-content p {
    padding: .1rem 0;
}

.component-content p:nth-child(1) {
    font-size: 1vw;
    font-weight: 500;
}

.component-content p:nth-child(2) {
    padding-top: .3vw;
    color: #6B7280;
    font-size: 1vw;
}

/* component Section End */

/* header section end  */

.Hero {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-seconday-color);
}

.hero_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-bottom: 4vw;
}

.hero_Content h1 {
    font-size: 3.65rem;
    color: #111827;
    width: 95%;
    line-height: 1.15;
}

.hero_Content h1 span {
    color: var(--secondry-color);
}

.hero_Content p {
    width: 85%;
    font-size: 1.22rem;
    padding: 1.7rem 0 2rem;
    color: #6B7280;
}

.hero_Content button {
    padding: 1rem;
    color: var(--white-color);
    background-color: var(--secondry-color);
    border-radius: 0.5vw;
    display: block;
    width: 15.2vw;
    border: none;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
}

.hero_Content button:hover {
    background-color: #06B6D4;
}

.hero_image {
    position: relative;
    right: 0;
    width: 88vw;
}

.hero_image img {
    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
    height: 84vh;
    width: 100%;
    object-fit: cover;
}

/* products section start  */

.product-container {
    padding: 6.2rem 4rem 0;
}

.product-container h3 {
    font-size: 1.45rem;
    padding-bottom: 1.6rem;
}

.products {
    display: grid;
    flex-direction: row;
    gap: 2rem;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.items {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid rgba(211, 211, 211, 0.6);
}

.items:hover img {
    opacity: .8;
}

.img-box img {
    width: 14.5rem;
    height: 16rem;
    object-fit: contain;
    border-radius: .5rem;
    box-shadow: 0 0 3px rgba(211, 211, 211, 0.5);
}

.products-rating {
    display: flex;
    gap: 2px;
    padding-bottom: 0.4rem;
}

.items .products-rating svg {
    width: 1.25rem;
    height: 1.25rem;
    color: rgb(250 204 21);
}


.items p {
    font-size: 1.1rem;
    padding: 1.6rem 0 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #111827;
}

.items p:hover {
    text-decoration: underline;
}

.items span {
    color: rgb(107 114 128);
    font-size: 14px;
}

.products-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
    width: 100%;
}

.products-price span {
    font-size: 1.2rem;
    color: #111827;
    font-weight: 700;
}

.products-price svg {
    width: 1.5rem;
    cursor: pointer;
    color: var(--secondry-color);
    overflow: hidden;

}

/* products section End  */
.Brands {
    padding: 6rem 0;
}

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 9rem;
}

.brand div:nth-child(1) {
    width: 8rem;
    height: 6rem;
    background: url("https://electrobot.netlify.app/images/Fujitsu.svg") no-repeat center center/contain;
}

.brand div:nth-child(2) {
    width: 7rem;
    height: 4rem;
    background: url("https://electrobot.netlify.app/images/Raspberry_Pi.svg") no-repeat center center/contain;
}

.brand div:nth-child(3) {
    width: 6rem;
    height: 6rem;
    background: url("https://electrobot.netlify.app/images/Arduino.svg") no-repeat center center/contain;
}

.brand div:nth-child(4) {
    width: 9rem;
    height: 6rem;
    background: url("https://electrobot.netlify.app/images/Sparkfun.svg") no-repeat center center/contain;
}

.brand-hr {
    color: var(--gray-seconday-color);
    width: 95%;
    margin: auto;
    opacity: 0.3;
}

.service {
    padding: 8rem 1.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--gray-seconday-color);
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    font-size: 0.9rem;
    text-align: center;
}

.service-item h4 {
    color: #111827;
    font-weight: 600;
}

.service-item p {
    width: 90%;
    color: var(--gray-tertiary-color);
}

.footer-hr {
    color: var(--gray-seconday-color);
    width: 95%;
    margin: auto;
    opacity: 0.1;
}

table {
    padding: 4rem 1.5rem;
    width: 100%;
    font-size: 0.9rem;
}



table tr th,
table tr td {
    text-align: left;
    padding: .7rem;
}

table tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

table tr th {
    font-weight: 600;
}

table tr td {
    color: var(--gray-tertiary-color);
}

.copyright {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-icons-color);
    font-size: 0.9rem;
}



.copyright-data span:nth-child(1) {
    padding-right: 1.5rem;
    border-right: 1px solid var(--gray-icons-color);
}

.copyright-data span:nth-child(2) {
    padding-left: 1.5rem;
}

.copyright-icons {
    display: flex;
    gap: 2rem;
}

.copyright-icons a svg {
    width: 1rem;
}

.sensors {
    padding: 3.2rem 4rem 6rem;
    display: none;
}

.sensors .allcomponents_heading {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 3.2vw;
}

.allcomponents_heading h2 {
    color: #111827;
    font-size: 2.2rem;
    text-transform: capitalize;
}

.allcomponents_heading span {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--secondry-color);
}

.product-details-section {
    display: none;
}

.product-details {
    display: flex;
    padding: 4rem 4rem;
    height: 100%;
    width: 100%;
}

.product-details svg {
    width: 30px;
}

.product-details-img {
    width: 63%;
    position: relative;
    display: flex;
    border-radius: .5vw;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.3)
}

.product-details-img img {
    width: 55%;
}

.product-details-data {
    padding: 0 0rem 0 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
}

.product-details-data-1spans {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.6vw;
    font-size: 1vw;
    color: #6B7280;
    padding-bottom: 1.4vw;
}

.product-details-data-1spans svg {
    width: 1.2vw;

}

.product-details-data h2 {
    font-size: 2.7vw;
    line-height: 1.1;
    color: #111827;
    padding-bottom: 1vw;
}

.product-details-data-2spans {
    display: flex;
    align-items: center;
    padding-bottom: 1.2vw;

}

.product-details-data-2spans span:nth-child(1) {
    font-size: 1.5vw;
    font-weight: 600;
    color: #111827;
    padding-right: 1.2vw;
    border-right: 1px solid #454D59;
}

.product-details-data-2spans span:nth-child(3) {
    font-size: 1.05vw;
    color: #111827;
    font-weight: 600;
    padding-left: 0.8vw;
    padding-top: 2px;
}

.product-details-data p {
    width: 100%;
    color: #6B7280;
    line-height: 1.5;
    text-align: justify;
}

.product-details-stars {
    display: flex;
    gap: 1px;
    padding-left: 1.2vw;
}

.product-details-stars svg {
    width: 1.7vw;
    color: #FACC15;

}

.product-details-data-3spans {
    display: flex;
    align-items: center;
    gap: 0.6vw;
    padding: 1.3vw 0 3vw;
}

.product-details-data-3spans svg {
    width: 1.4vw;
    color: rgb(34 197 94);
}

.product-details-data-3spans span {
    font-size: 1vw;
    color: #6B7280
}

.product-details-data-heartbasket {
    display: flex;
    align-items: center;
    gap: 1.7vw;
}

.product-details-data-button {
    border: none;
    outline: none;
    border-radius: 0.6vw;
    font-size: 1.2vw;
    padding: 1vw 5.4vw;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--secondry-color);
}

.product-details-data-heartbasket svg {
    width: 1.8vw;
    color: var(--secondry-color);
}

.product-details-customer {
    padding: 3.6rem 4rem;
}

.product_reviews {
    padding: .5vw 2vw 0vw 1.1vw;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    display: flex;
    gap: 2vw;
}

.product_reviews span {
    padding: 1.1vw 2.3vw;
    font-size: 1.15vw;
    font-weight: 600;
    color: #111827;
}

.product_reviews span:nth-child(1) {
    border-bottom: 2px solid var(--secondry-color);
    color: var(--secondry-color);
}

.customer-reviews-details {
    padding: 4rem 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 2.5vw;
    border-bottom: 1px solid #E5E7EB;
    /* display: none; */
}

.customer-rating {
    width: 40%;
}

.customer-rating-percentage {
    width: 100%;
}

.customer-rating h2 {
    padding-bottom: 1vw;
    font-size: 1.75vw;
    font-weight: 700;
}

.customer-giving-star {
    display: flex;
}

.customer-giving-star svg {
    width: 1.5vw;
}

.customer-rating-star-reviews {
    display: flex;
    gap: .7vw;
    padding-bottom: 2.1vw;
}

.customer-rating-star-reviews svg {
    color: #FACC15;
}

.customer-rating-star-reviews span {
    font-size: 1vw;
    color: #111827;
    font-weight: 500;
}

.customer-rating-box {
    display: flex;
    gap: .7vw;
    align-items: center;
}


.customer-rating-percentage {
    display: flex;
    gap: 10px;
}

.customer-rating-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1.55vw;
}

.star-number,
.star-percentage {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 500;
    gap: 1.5vw;
}

.star-percentage {
    text-align: justify;
    padding-left: 1.4vw;
}

.star-percentage span {
    align-self: flex-end;
}

.star-number {
    padding-bottom: .8vw;
}

.customer-star-length {
    display: flex;
    flex-direction: column;
    padding-top: 3.9px;
    gap: 2.2vw;
}

.customer-star-length .customer-star-width {
    /* padding: .5vw 13vw; */
    width: 25vw;
    height: .85vw;
    overflow: hidden;
    /* border: 1px solid red; */
    background-color: #F3F4F6;
    border-radius: 1vw;
}

.customer-star-width div {
    width: 80%;
    border-radius: 1vw;
    height: 100%;
    background-color: #FACC15;
    /* padding:; */
}

.customer-rating-box svg {
    width: 1.5vw;
    color: #FACC15;
}

.customer-rating h3 {
    font-weight: 500;
    padding: 2.3vw 0 .8vw;
    font-size: 1.3vw;
    color: #111827;
}

.customer-rating p {
    font-size: 1vw;
    color: #6B7280;
    width: 72%;
    line-height: 1.4;
}

.customer-rating button {
    width: 95.2%;
    padding: .7rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7vw;
    border: 1px solid #A7EDF8;
    background-color: white;
    color: #94A3B8;
    font-size: 1.2vw;
    margin-top: 2.5vw;
    font-weight: 400;
    cursor: not-allowed;
}

.customers-description {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    gap: 3vw;
    width: 60%;

}

.customers {
    width: 100%;
    display: grid;
    border-bottom: 1px solid #E5E7EB;
}

.customers:last-child {
    border-bottom: none;
}

.customer-name-rating h4 {
    font-size: 0.99999999vw;
}

.customer-content {
    display: flex;
    gap: 1vw;
}

.customer-content img {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}

.customer-giving-rating {
    display: flex;
    padding-top: .5vw;
}

.customer-giving-rating svg {
    color: #FACC15;
}

.customer-giving-rating svg {
    width: 1.4vw;
}

.customers p {
    font-size: 1.2vw;
    font-style: italic;
    color: #6B7280;
    padding: 1vw 0 5vw;
}

.product_description {
    margin-top: 4.9vw;
    padding: 8vw 21.8vw;
    background-color: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .7vw;
    display: none;
}

.product_description p {
    font-size: 1.3vw;
    line-height: 2vw;
    color: #6B7280;
    border-left: 8px solid var(--primary-color);
    border-radius: .5vw;
    padding-left: 1.2vw;
}

.featured-container {
    padding: 6.2rem 4rem 0;
}

.featured-container h3 {
    font-size: 1.45rem;
    padding-bottom: 1.6rem;
}


/* heart section start */

.heart_container {
    padding: 4.5vw 24vw;
    display: none;
    background-color: #F3F4F6;
}

.heart_container h3 {
    font-size: 1.46vw;
}

.heart_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.7vw;
    height: 52vh;
    width: 52vw;
    background-color: var(--white-color);
}

.heart_empty p {
    font-size: 1.74vw;
    color: #164E63;
}

.heart_box {
    margin-top: 1.7vw;
    background-color: #fff;
    border-radius: .8vw;
    box-shadow: 1px 1px 2px rgba(211, 211, 211, 0.3);
    padding: 1.85vw 1.8vw 1.5vw;
}

.heart_item {
    display: flex;
    /* align-items: center; */
    gap: 1.2vw;
    padding: 1.6vw 0 1.3vw;
    border-bottom: 1px solid #E5E7EB;
}

.heart_item:first-child {
    padding-top: 0;

}

.heart_item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.heart_img img {
    border: 1px solid #E5E7EB;
}

.heart_item .heart_img img {
    width: 7vw;
    border-radius: .7vw;
}

.heart_content {
    width: 100%;
}

.heart_price,
.heart_remove {
    display: flex;
    justify-content: space-between;
}

.heart_price {
    font-weight: 500;
    font-size: .999vw;
    letter-spacing: .3px;
}

.heart_price span:nth-child(2) {
    font-size: 1vw;
}

.model_heart {
    padding: .4vw 0 2.3vw;
    font-size: 1vw;
    color: #6B7290;
}

.heart_remove span:nth-child(1) {
    color: #6B7280;
    font-size: 1vw;
    font-weight: 300;
    letter-spacing: 0;
}

.heart_remove span:nth-child(2) {
    color: var(--secondry-color);
    font-size: 1vw;
    font-weight: 500;
}

.heart_box {
    display: none;
}

/* heart section end */

.store {
    display: none;
}

.store-heading-sort {
    padding: 6.5vw 5vw 2vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store-heading-sort h1 {
    font-size: 2.75vw;
    font-weight: 700;
    color: #111827;
    margin-bottom: -1vw;
}

.store-sort-down {
    margin-right: 1.8vw;
    cursor: pointer;
}

.store-sort-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.3vw;
    padding-top: 2vw;
}

.store-sort-button-div {
    position: absolute;
    top: 110%;
    border-radius: .4vw;
    right: 55%;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    display: flex;
    padding: 1vw 1vw;
    flex-direction: column;
    width: 12vw;
    font-size: 1vw;
    background-color: #fff;
    z-index: 1;
    display: none;
}

.store-sort-button-div h4 {
    font-weight: 600;
    color: #111827;
    padding: .6vw .1vw;
    width: 7rem;
}

.store-sort-button-div p {
    color: #6B7280;
    padding: .6vw .1vw;
    width: 7rem;
}

.store-sort-button-div p:hover, .store-sort-button-div h4:hover {
    background-color: #e5e7eb;
}

.store-sort-content svg {
    padding-top: 0.28vw;
    width: 1.6vw;
    color: #94a3b8;
}

.store-sort-button {
    border: none;
    outline: none;
    background-color: #fff;
    color: #111827;
    font-weight: 500;
    font-size: 1.1vw;
    cursor: pointer;
}

.store-sort-window {
    cursor: pointer;
}

.store-sort svg {
    color: #9ca3af;
}

.store-hr {
    color: #e5e7eb;
    width: 90%;
    margin: auto;
    opacity: 0.2;
}

.store-parts {
    display: flex;
    /* height: 100%; */
    width: 100%;
}

.store-left {
    width: 25%;
    padding-bottom: 2vw;
}

.store-category1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vw;
    padding-left: 5vw;
    padding-bottom: .7vw;
}

.store-searchfilter {
    display: flex;
    align-items: center;
    gap: 0.7vw;
    width: 50%;
    border-bottom: 2px solid rgba(211, 211, 211, 0.5);
    padding-bottom: 0.6vw;
}

.store-category1 i {
    font-size: .95vw;
    color:rgb(143, 143, 143);
    /* font-weight: 30; */
}

.store-searchfilter input {
    border: none;
    font-size: 0.9vw;
}

.store-searchfilter input::placeholder {
    font-size: 0.9vw;
    color: #9ca3af;
}

.store-searchfilter input:focus {
    outline: none;
}

.store-filtercancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
    padding-bottom: 0.6vw;
    border: 1px solid var(--secondry-color);
    border-radius: 30px;
    padding: 0.35vw 0.8vw;
    cursor: pointer;
}

.store-filtercancel-btn svg {
    color: #ef4444;
    font-weight: 800;
}

.store-filtercancel-btn span {
    font-size: 0.85vw;
    font-weight: 400;
    color: var(--secondry-color);
}


.store-brand {
    padding: 0.35vw 0;
    overflow-y: auto;
    display: none;
    height: 41vh;
}

.store-brand::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #F1F5F9;
}

.store-brand::-webkit-scrollbar-thumb {
    background-color: var(--secondry-color);
}

.store-brand::-webkit-scrollbar-button:single-button {
    background-color: #F1F5F9;
    display: block;
    background-size: 2px;
}


.store-brand-items {
    padding-top: 1.3vw;
    display: flex;
    gap: .9vw;
    align-items: center;
}

.store-brand-items input {
    width: 1.1vw;
    height: 1.1vw;
    /* scale: 2; */
    outline: 1px solid lightgray;
    outline-offset: -0.15vw;
    border-radius: 0;
}

.store-brand-items span {
    font-size: 1vw;
    color: #4b5563;
}

.store-category-items {
    padding: 0.35vw 0;
    display: none;
    overflow-y: auto;
}

.store-category-items .store-brand-items {
    padding-top: 1.3vw;
    display: flex;
    gap: .9vw;
    align-items: center;
}

.store-category-items .store-brand-items input {
    width: 1.1vw;
    height: 1.1vw;
    outline: .5px solid lightgray;
    outline-offset: -0.15vw;
    border-radius: 0;
}



.store-rating-showicons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .81vw;
    padding: 2vw 0;
    display: none;
}

.storestaricon {
    border-radius: 0.5vw;
    padding: .5vw;
    box-shadow: 0 0px 5px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
}

.storestaricon:hover {
    scale: 0.9;
}

.storestaricon i {
    font-size: 1.5vw;
    color: #FACC15;
    overflow: hidden;
}

.store-category2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    /* gap: 1.3vw; */
}

.sensors-types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
    padding-top: 1.2vw;
    font-weight: 500;
    color: #111827;
    cursor: pointer;
}

.sensors-types h4 {
    font-weight: 500;
}

.store-sensorsqHr {
    color: #e5e7eb;
    width: 100%;
    margin: auto;
    opacity: 0.3;
}

.sensors-typelast {
    padding-bottom: 0.6vw;
}

.store-category3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.store-filtersSelection {
    padding-top: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.6);
    padding-bottom: 1.8vw;
}

.store-filtersSelection h4 {
    color: #111827;
    font-weight: 500;
    font-size: 1.1vw;
}

.store-filtersSelection span {
    color: #9ca3af;
    font-size: 2vw;
    cursor: pointer;
}

.store-right {
    width: 72%;
    padding: 2vw 5vw 0 2vw;
    display: none;
    /* display: grid; */
    /* gap: 2vw; */
}

.store-components {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-bottom: 2.54vw;
}

.store-menusvg-components {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    border-radius: 0.6vw;
    width: 100%;
    padding: 0.6vw 1vw 1vw;
}

.store-menusvg-components-data {
    display: flex;
}

.store-msc-data-leftimg {
    box-shadow: 0 2px 3px rgba(211, 211, 211, 0.5);
    object-fit: cover;
    height: 17vw;
}

.store-msc-data-leftimg img {
    border-radius: .6vw;
    height: 100%;
}

.store-msc-data-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 1.4vw;
}

.store-msc-data-right1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store-msc-data-right1 p {
    color: #6b7280;
    font-weight: 500;
}

.store-msc-data-right1Rating {
    display: flex;
    align-items: center;
}

.store-msc-data-right1Rating span:nth-child(2) {
    color: #4b5563;
    font-weight: 700;
    font-size: 1vw;

}

.store-msc-data-right1Rating span:nth-child(3) {
    color: #6b7280;
    font-size: 1.1vw;
    padding-left: 0.4vw;
}

.store-msc-data-right1Rating svg {
    color: #facc15;

    margin-right: .3vw;
    margin-top: .1vw;
}

.store-msc-data-right1heart {
    display: flex;
    align-items: center;
}

.store-msc-data-right1heart svg {
    color: var(--secondry-color);
}

.store-msc-right-transistor {
    background-color: #e5e7eb;
    font-size: 0.95vw;
    color: #1f2937;
    font-weight: 500;
    border-radius: .9vw;
    padding: .3vw 1vw;
    text-transform: capitalize;
}

.store-msc-data-right2 {
    padding-top: .8vw;
}

.store-msc-data-right2 h1 {
    color: #1f2937;
    font-weight: 900;
    font-size: 2.2vw;
}

.store-msc-data-right2 h1:hover {
    text-decoration: underline;
}

.store-msc-data-right3 {
    padding-top: .5vw;
}

.store-msc-data-right3 p {
    color: #6b7280;
    font-size: 1.2vw;
    line-height: 1.6;
}

.store-msc-data-right4 {
    padding-top: .6vw;
}

.store-msc-data-right4 span {
    color: #1f2937;
    font-weight: 900;
    font-size: 1.6vw;
}

.store-end-slider {
    color: var(--gray-seconday-color);
    width: 90%;
    margin: auto;
    opacity: 0.2;
}

.store-last-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    min-width: 90%;
    width: 90%;
    margin: auto;
    border-top: 1px solid var(--gray-seconday-color);
}

.store-last-sliderprevious,
.store-last-slidernext {
    display: flex;
    gap: 1vw;
    align-items: center;
    /* pointer-events: none; */
}

.store-last-sliderprevious i,
.store-last-slidernext i {
    color: #9ca3af;
}

.store-last-sliderprevious span,
.store-last-slidernext span {
    color: #6B7280;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
}

.store-slider-number {
    display: flex;
    gap: 1.5vw;
}

.store-slider-number span {
    font-size: 1vw;
    font-weight: 600;
    color: #6B7280;
    padding: 2vw 1vw;
    border-top: 2px solid white;
    cursor: pointer;
    /* display: none; */
}

.store-slider-number span.active {
    color: var(--secondry-color);
    border-top: 2px solid var(--secondry-color);
}

.store-parts .products {
    display: grid;
    gap: 2rem;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2vw 0 7vw 3vw;
}

/* checkout-form section  */

.checkout-section-goBtn {
    cursor: not-allowed ;
}

.checkout-form {
    display: none;
}

.checkout-parts {
    width: 100%;
    height: 100%;
    padding: 5vw 2.5vw;
    background-color: #F3F4F6;
    display: flex;
    gap: 5vw;
}

.checkout-left {
    width: 48%;
    height: 100%;
}

.checkout-1stform h2 {
    font-size: 1.4vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 1.8vw;
}

.checkout-form-email {
    margin: 0 0 1.5vw
}

.checkout-form-email h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.checkout-form-email input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
    height: 100%;
}

.checkout-form-email input:focus {
    border: 1px solid var(--secondry-color);
}

.checkout-shippingInformation {
    margin-top: 3.85vw;
}

.checkout-shipping-information h2 {
    font-size: 1.4vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 1.8vw;

}

.c-nameInformation {
    display: flex;
    gap: 1.25vw;
    margin-bottom: 1.6vw;

}

.c-firstName {
    width: 100%;
}

.c-firstName h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;

}

.c-firstName input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-firstName input:focus {
    border: 1px solid var(--secondry-color);
}

.c-lastName input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-lastName input:focus {
    border: 1px solid var(--secondry-color);
}

.c-lastName {
    width: 100%;
}

.c-lastName h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.checkout-shippingInformation h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.checkout-shippingInformation input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.checkout-shipping-information input:focus {
    border: 1px var(--secondry-color);
}

.c-addressInformation {
    margin-bottom: 1.6vw;
}

.c-addressInformation input:focus {
    border: 1px solid var(--secondry-color);
}

.c-apartmentInformation {
    margin-bottom: 1.6vw;
}

.c-apartmentInformation input:focus {
    border: 1px solid var(--secondry-color);
}

.c-companyInformation {
    margin-bottom: 1.6vw;
}

.c-companyInformation input:focus {
    border: 1px solid var(--secondry-color);
}

.c-countryInformation {
    display: flex;
    gap: 1.25vw;
    margin-bottom: 1.6vw;

}

.c-city {
    width: 100%;
}

.c-city h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;

}

.c-city input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-city input:focus {
    border: 1px solid var(--secondry-color);
}

.c-country input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-country input:focus {
    border: 1px solid var(--secondry-color);
}

.c-country {
    width: 100%;
}

.c-country h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.c-stateInformation {
    display: flex;
    gap: 1.25vw;
    margin-bottom: 1.6vw;

}

.c-state {
    width: 100%;
}

.c-stateName h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;

}

.c-state input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-state input:focus {
    border: 1px solid var(--secondry-color);
}

.c-postalCode input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-postalCode input:focus {
    border: 1px solid var(--secondry-color);
}

.c-postalCode {
    width: 100%;
}

.c-postalCode h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.c-phoneInformation {
    margin-bottom: 1.6vw;
}

.c-phoneInformation input:focus {
    border: 1px solid var(--secondry-color);
}

.checkout-deliveryMethodInformation {
    margin-top: 3.85vw;
}

.deliveryMethodInformation {
    display: flex;
    gap: 1.3vw;
}

.c-standard {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 16px;
    border-radius: .5vw;
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.c-standard p {
    margin-top: 0.7vw;
    color: #9CA3AF;
    font-size: 1.1vw;
    margin-bottom: 1.9vw;
    font-weight: 300;
}

.c-deliveryjsclass {
    border: 2px solid rgb(34 211 238 / 70%);
}

.c-standardspan {
    font-size: 1.1vw;
    color: #111827;
    font-weight: 500;
}

.c-standardtick {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-standardtick h3 {
    color: #111827;
    font-weight: 500;
    font-size: 1.1vw;
}

.c-standardtick svg {
    color: var(--secondry-color);
}

.c-express {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 16px;
    border-radius: .5vw;
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.c-expresstick {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-expresstick h3 {
    color: #111827;
    font-weight: 500;
    font-size: 1.1vw;
}

.c-expresstick svg {
    color: var(--secondry-color);
}

.c-express p {
    margin-top: 0.7vw;
    color: #9CA3AF;
    font-size: 1.1vw;
    margin-bottom: 1.9vw;
    font-weight: 300;
}

.c-express span {
    font-size: 1.1vw;
    color: #111827;
    font-weight: 500;
}

.checkout-creditCardInformation {
    margin-top: 3.85vw;
}

.checkout-creditCardInformation h2 {
    font-size: 1.4vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 1.6vw;
}

.checkout-creditCardInformation h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.checkout-creditCardInformation input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.checkout-creditCardInformation input:focus {
    border: 1px solid var(--secondry-color);
}

.c-cardNumber {
    margin-bottom: 1.6vw;
}


.c-nameoncard {
    margin-bottom: 1.6vw;
}

.c-cardCVC {
    display: flex;
    gap: 1.25vw;
    margin-bottom: 1.6vw;

}

.c-expirationDate {
    width: 100%;
}

.c-expirationDate h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;

}

.c-expirationDate input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-expirationDate input:focus {
    border: 1px solid var(--secondry-color);
}

.c-CVC input {
    border: none;
    outline: 2px solid transparent;
    border: 1px solid rgb(209, 213, 219);
    outline-offset: 2px;
    border-radius: .6vw;
    background-color: #ffffff;
    padding: 0.9vw 0.78125vw;
    width: 100%;
}

.c-cardCVC input:focus:hover {
    border: 1px solid var(--secondry-color);
}

.c-CVC h4 {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    margin: 0 0 0.5vw;
}

.c-clearFormBtn {
    border: none;
    outline: none;
    margin-top: 0.4vw;
    padding: .8vw 1.5vw;
    border-radius: .6vw;
    background-color: var(--secondry-color);
    color: white;
    font-weight: 500;
    font-size: 1.1vw;
    cursor: pointer;
}

.c-clearFormBtn:hover{
    background-color: var(--secondary-color-dark);
}

/* checkout-right  */

.checkout-right .formnoitems {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
    width: 95%;
    padding: 8vw 8vw;
    background-color: var(--white-color);
    box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.5);
    border-radius: .5vw;
}

.checkout-right .formnoitems h2 {
    font-size: 1.8vw;
    font-weight: 400;
    color: #4b5563;
    padding-top: 1vw;
}

.formright {
    display: none;
}

.checkout-right {
    width: 48%;
}

.checkout-right h2 {
    color: #111827;
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 1.875vw;
}

.checkout-form-product {
    display: flex;
    justify-content: space-between;
    padding: 1.875vw;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    background-color: #ffffff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.5)
}

.cfp-leftbox {
    display: flex;
}

.cfp-img {
    border: 1px solid rgba(211, 211, 211, 0.6);
    border-radius: .5vw;
    margin-right: 1.2vw;
}

.cfp-img img {
    width: 7vw;
}

.cfp-leftboxtext h4 {
    color: #111827;
    font-weight: 500;
    font-size: 1.1vw;
    margin-bottom: .4vw;
}

.cfp-modelNumber {
    font-size: 1.1vw;
    color: #6b7280;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 1.1vw;
}

.cfp-rightbox {
    display: flex;
    flex-direction: column;
    gap: 3.7vw;
}

.cfp-rightbox span:nth-child(1) {
    font-size: 1.1vw;
    font-weight: 500;
    color: #111827;
    padding-left: 1vw;
}

.cfp-rightbox span:nth-child(2) {
    font-size: 1.1vw;
    font-weight: 500;
    color: var(--secondry-color);
}

.product-form-subtotal {
    display: flex;
    flex-direction: column;
    gap: 2.3vw;
    background-color: #fff;
    padding: 1.875vw;
    border-bottom: 1px solid rgba(211, 211, 211, 0.6);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

.c-subtotalprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-totalprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-subtotal {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-subtotal-price {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-shipping {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-shipping-price {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-taxes {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-taxes-price {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-total {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-total-price {
    color: #111827;
    font-size: 1.1vw;
    font-weight: 500;
}

.c-shippingprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-taxesprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-subhr {
    color: rgba(211, 211, 211, 0.6);
    opacity: 0.2;
}

.c-agreepayout {
    background-color: #fff;
    padding: 1.875vw;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;

}

.check-termsconditions {
    display: flex;
    gap: .7vw;
}

.check-termsconditions input {
    width: 1.3vw;
}

.check-termsconditions p {
    font-size: 1.05vw;
    font-weight: 500;
}

.check-termsconditions p>span {
    color: var(--secondry-color);
}

.pay-btn {
    margin-top: 1.3vw;
    border: none;
    outline: none;
    width: 100%;
    padding: 1vw 1.875vw;
    background-color: var(--secondry-color);
    color: white;
    font-weight: 500;
    border-radius: .6vw;
    font-size: 1.25vw;
    cursor: pointer;
}

.pay-btn:hover {
    background-color: var(--secondary-color-dark);
}

/* checkout-form section ends  */

/* range slider  */

.rangeSlider-container {
    display: flex;
    width: 100%;
    height: 5vw;
    position: relative;
    margin-top: 1vw;
    display: none;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 0.23vw;
    background-color: #d5d5d5;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: .23vw;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: .23vw;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: .23vw;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: .23vw;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.3em;
    width: 1.3em;
    background-color: var(--white-color);
    border: 2px solid var(--secondry-color);
    cursor: pointer;
    border-radius: 50%;
    margin-top: -7px;
    pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 2px solid var(--secondry-color);
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 2px solid var(--secondry-color);
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: var(--secondry-color);
    pointer-events: auto;
}

/* .values{
    background-color: #ffffff;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    border: 1px solid var(--secondry-color);
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid var(--secondry-color);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}  */

.values {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    border-radius: .23vw;
    font-weight: 500;
    font-size: .8vw;
}



#range1 {
    background-color: #fff;
    border: 1px solid var(--secondry-color);
    padding: .2vw .6vw;
    border-radius: .3vw;
    position: absolute;
    top: -4px;
    left: -2.5px;
}

#range2 {
    background-color: #fff;
    border: 1px solid var(--secondry-color);
    padding: .2vw .2vw;
    border-radius: .3vw;
    position: absolute;
    top: -4px;
    right: -2.5px;
}

#range1::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 5px solid var(--secondry-color);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}


#range2::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 5px solid var(--secondry-color);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}

.finishShopping{
    display: none;
}

.finishShoppingContainer {
    height: 75vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finishContent {
    width: 46%;
    display: flex;
    flex-direction: column;
}
.finishBox1{
   display: flex;  
   flex-direction: column;
   padding-bottom: 2.8vw;
   border-bottom: 1px solid rgba(211, 211, 211, 0.6);
}

.finishContent .finishBox1 span {
    color: var(--secondry-color);
    align-self: start;
    font-size: 1vw;
    font-weight: 500;
    margin-top: 1vw;
    height: 2.5vw;
}

.finishBox1 h1 {
    font-size: 4.4vw;
    padding-bottom: .4vw;
}

.finishBox1 p{
    font-size: 1.3vw;
    line-height: 1.5;
    color: #6B7280;
}

.finishContent span{
    color: var(--secondry-color);
    align-self: flex-end;
    font-weight: 500;
    font-size: 1vw;
    padding: 1.8vw 1.1vw 0 0 ;
    cursor: pointer;
}